<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight{%-5p}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %c{1}:%L - %m%n</pattern>
            </PatternLayout>
        </Console>

        <!-- RollingFile Appender -->
        <RollingFile name="RollingFile" fileName="log/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- Tạo file mới mỗi ngày -->
                <TimeBasedTriggeringPolicy/>
                <!-- Tạo file mới khi đạt 25 MB -->
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <!-- Chỉ chứa tối đa 20 file log -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
